[submodule "opt/googletest"]
	path = opt/googletest
	url = https://github.com/google/googletest
[submodule "opt/spdlog"]
	path = opt/spdlog
	url = https://github.com/gabime/spdlog
[submodule "opt/json"]
	path = opt/json
	url = https://github.com/nlohmann/json
